@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
    width: auto;
}

@media screen and (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

nav{
    background: #e9f0ff;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
}
.home{
    color: #415da1;
    /* text-decoration: underline;
    text-underline-offset: 0.4em; */
}

.wrlin:hover{
    border-radius: 5px;
    color: #415da1;
}

.logo{
    line-height: 80px;
    width: 120px;
    margin-left: 20px;
}
.logo img{
    margin-top: 10px;
    width: 110px;
}

nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    line-height: 100px;
}
nav ul li a{
    color: #333;
    font-size: 20px;
    font-weight: 500;
    padding: 7px 14px;
    border-radius: 3px;
    text-decoration: none;
}
.nav ul li a:hover{
    color: #415da1;
    /* text-decoration: underline;
    text-underline-offset: 0.4em; */
}
.checkbtn{
    font-size: 20px;
    color: var(--maincolor);
    float: right;
    line-height: 100px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
.fas{
    background: #415da1;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
}
#check{
    display: none;
}

.nav ul li a:hover{
    color: #415da1;
}
.nav ul li a:after{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: var(--leafcolor);
    transition: 0.3s all;
    visibility: none;
    opacity: 0;
    z-index: -1;
    border-radius: 5px;
}
.nav ul li a:hover:after{
    opacity: 1;
    visibility: visible;
    height: 100%;
}
@media screen and (max-width: 400px){
  .logo{
    width: 75px;
  }
  .smcare{
    padding-bottom: 10px;
  }
}

/* ----------------------------- */
.quality{
    background: #e9f0ff;
    display: flex;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.docmain{
    width: 600px;
    margin-top: 20px;
}
.fortcen{
  padding-top: 80px;
  padding-left: 70px;
}
.smcare{
    color: #39394a;
    font-weight: 500;
    letter-spacing: 2px;
}
.healthheaid{
    font-size: 45px;
    margin-bottom: 20px;
}
.curetedat{
  color: #39394a;
  font-size: 18px;    
  line-height: 30px;
  margin-bottom: 20px;
  text-align: justify;
}
.oursecvi{
    width: 250px;
    height: 50px;
    margin-bottom: 70px;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.overleri{
    display: flex;
    gap: 30px;
}
.hearthicosnuie{
    display: flex;
}
.hearthicosnuie img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
.hteiec{
    display: flex;
    flex-direction: column;
}
.rp{
    color: #39394a;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
}
.nume{
    font-size: 22px;
}
/* ------max-width----- */
@media screen and (max-width: 2150px){
  .fortcen{
    width: 50%;
  }
  .ourdoctors{
    width: 50%;
  }
}
@media screen and (max-width: 1450px){
  .fortcen{
    width: 100%;
  }
}


/* ------------------- */
@media screen and (max-width: 1300px){
  .quality{
    display: block;
    padding: 0 40px;
  }
  .fortcen{
    padding-left: 0px;
    padding-top: 40px;
  }
}
@media screen and (max-width: 650px){
    .fortcen{
        padding-top: 10px;
    }
    .docmain{
        width: 500px;
    }
    .healthheaid{
        font-size: 35px;
    }
}
@media screen and (max-width: 550px){
    .docmain{
        width: 400px;
    }
    .healthheaid{
        font-size: 32px;
    }
    .overleri{
        display: grid;
    }
    .oursecvi{
      width: 250px;
      height: 50px;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 450px){
    .quality{
        padding: 15px;
        padding-bottom: 0;
    }
    .docmain{
        width: 350px;
    }
    .healthheaid{
      font-size: 27px;
      margin-bottom: 10px;
  }
}
/* ------------------------------------- */
.Aboutus{
  font-family: "Plus Jakarta Sans", sans-serif;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wavh{
  color: #415da1;
  font-size: 20px;
  word-spacing: 5px;
  margin-bottom: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}
.cswhj{
  font-size: 38px;
  width: 40%;
  text-align: center;
  line-height: 1.342;
}
.aboutimstiex{
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.adveio{
  padding: 20px;
}
.vedatextnaout{
  padding-left: 30px;
  width: 45%;
  color: #39394a;
  font-size: 18px;
  line-height: 35px;
}
.vedatextnaout span{
  font-weight: bold;
}
@media screen and (max-width: 1140px){
  .vedatextnaout{
    padding-left: 0;
  }
  .adveio{
    padding: 0;
  }
  .cswhj{
    width: 70%;
  }
}
@media screen and (max-width: 1030px){
  .aboutimstiex{
    flex-direction: column;
  }
  .vedatextnaout{
    width: 80%;
    padding: 40px;
  }
}
@media screen and (max-width: 700px){
  .vedatextnaout{
    width: 80%;
    padding: 0px;
    padding-top: 20px;
  }
  .adveio{
    width: 500px;
  }
  .cswhj{
    width: 100%;
    font-size: 25px;
  }
}
@media screen and (max-width: 550px){
  .Aboutus, .aboutimstiex{
    padding-top: 30px;
  }
  .vedatextnaout{
    padding: 20px;
    width: 100%;
    line-height: 30px;
    text-align: justify;
  }
  .adveio{
    width: 350px;
  }
}











/* -------------------------------- */
.line{
    font-family: "Plus Jakarta Sans", sans-serif;   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 40px;
}
.esicr{
    margin-top: 10px;
}
.tfs{
    color: #39394a;
    font-weight: 500;
    margin-top: 5px;
    font-size: 16px;
}
@media screen and (max-width: 600px){
    .line{
        display: block;
        padding-left: 40px;
        padding-top: 0;
    }
    .lineone{
        display: flex;
        margin-top: 30px;
    }
    .car{
        margin-right: 40px;
    }
    .mand , .docu{
        margin-right: 70px;
    }
}
@media screen and (max-width: 400px){
    .line{
        display: block;
        padding-left: 20px;
        padding-top: 20px;
    }
    .lineone{
        display: flex;
        margin-top: 10px;
    }
}
/* -------------------------------- */
.types{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 60px;
}
.onvobox{
    width: 300px;
    height: 260px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
.plusbox{
    position: relative;
    left: 90px;
    top: -20px;
}
.bate{
    background-color: #e9f0ff;
    width: 80px;
    height: 80px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.baheadico{
    margin-bottom: 10px;
}
.ontowridsp{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}
.oriosa{
    height: 600px;
}

@media screen and (max-width: 1200px){
    .types{
        display: block;
    }
}
@media screen and (max-width: 500px){
    .oriosa{
        height: 400px;
    }
}

/* -------------------------------------- */
.numbersection{
    font-family: "Plus Jakarta Sans", sans-serif;
    padding: 60px;
    position: relative;
    color: #171817;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 16px;
    border-radius: 100px;
    background-color: #e9f0ff;
    margin-top: 50px;
  }
  .nu1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .nu1 h1{
    text-align: center;
    padding-bottom: 5px;
  }
  .nsiegl{
   margin: 0 auto;
  }
  .dngai{
    color: #415da1;
    font-size: 36px;
  }
  .yoerar{
    font-size: 18px;
  }
  .one{
    padding-right: 70px;
    border-right: 1px dashed #415da1;
  }
  /* media quries */
  @media screen and  (max-width: 1200px){
    .one{
        padding-right: 30px;
      }
  }
  @media screen and  (max-width: 1000px){
    .one{
        border-right: 0px dashed #415da1;
      }
  }
  @media screen and  (max-width: 764px){
    .numbersection{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    .numbersection div{
      width: 40%;
      height: 30%;
    }
    .numbersection .one .two{
      height: 45%;
    }
    .nu1 h1{
      padding-bottom: 7px;
    }
    .nu1 {
      padding: 20px;
    }
  }
  @media screen and (max-width:624px){
     .numbersection{
      display: flex;
      flex-direction: column;
     }
     .numbersection div{
      align-items: center;
      width: 100%;
     }
     .nu1 h1{
      margin-left: 1px;
     }
  }
  @media screen and (max-width:500px){
    .numbersection{
        border-radius: 60px;
    }
  }
  /* ____________________________________ */









/* ------------ */
.meetdi {
    padding: 10px 20px;
}
.button-27 {
  font-family: "Plus Jakarta Sans", sans-serif;
  appearance: none;
  background-color: #415da1;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

/* ---------- */

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 1000px){
    nav{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .checkbtn{
        display: block;
    }
    ul{
      position: fixed;
      width: 40%;
      border-radius:  0  0  0 50px;
      background: var(--maincolor);
      top: 100px;
      left: 100%;
      transition: 0.5s all;
      background: #e9f0ff;
      margin-top: 20px;
    }
    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 20px;
    }
    nav ul li a{
        font-size: 20px;
        margin-left: 20px;
    }
    a:hover, a.active{
        background: none;
        color: var(--leafcolor);
    }
    #check:checked ~ ul{
        position: absolute;
        left: 60%;
        box-shadow: 0 4px 2px 2px rgba(0,0,0,.2);
        background: #e9f0ff;
        margin-top: 20px;
        z-index: 1;
    }
    .sociallinks{
        display: none;
    }
}
@media screen and (max-width: 450px){
    #check:checked ~ ul{
        left: 40%;
        background: #e9f0ff;
        z-index: 1;
    }
    ul{
        width: 60%;
    }
    .button-27{
        padding: 10px 5px;
    }
}
/* ----------------------------- */
.moe{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 52px;
  text-align: center;
  padding-top: 60px;
  color: #415da1;
}

.ourdoctors{
    display: flex;
    margin: auto;
    width: 80%;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    gap: 50px;
}
.willia{
    margin-top: 50px;
}
.elemma{
    position: relative;
    top: -200px;
    left: -80px;
    border-left: 6px solid #415da1;
}
.michel{
    position: relative;
    top: -200px;
    left: 320px;
    border-right: 6px solid #415da1;
}
.experience{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    color: #39394a;
}
.sideboxte{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 150px;
   height: 150px;
   position: relative;
   bottom: 0;
   border-radius: 6px;

   /* backdrop-filter: blur(13px) saturate(200%);
    -webkit-backdrop-filter: blur(13px) saturate(200%); */
    background-color: rgba(231, 240, 255, 0.46);


}
.tick{
    width:50px;
    height: 50px;
}
.eloratext{
  font-size: 18px;
  color: #39394a;
  line-height: 25px;
  text-align: justify;
}
.downeltwo{
    margin-top: 10px;
}
.elori{
    width: 400px;
    height: 500px;
    object-fit: cover;
}
.elori img{
    width: 400px;
}
.dr {
    font-size: 38px;
    margin-bottom: 5px;
}
.lmv{
  font-size: 38px;
}
.dr:hover{
    color: #415da1;
    cursor: pointer;
}
.cardio{
    font-weight: 500;
    color: #39394a;
}
.diodtio{
    margin: 10px 0;
}
.theqstar{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;
}
.fa-star{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 14px;
    color: #415da1;
    letter-spacing: 2px;
}
.bio{
    margin-bottom: 10px;
}
.fab{
    font-size: 20px;
    background: #415da1;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-right: 15px;
    transition: 0.3s;
}
.fab:hover{
    transform: translate(0, -5px);
}
.fa-facebook-f:before, .fa-twitter:before, .fa-instagram:before { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7px;
    font-size: 15px;
}
.fa-location-dot, .fa-phone , .fa-envelope {
  color: #415da1;
}
.socialicons{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.arthwa{
    margin-bottom: 40px;
}
.makeappi{ 
  /* margin-left: 40px; */
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  padding: 10px 15px;
}
.batsmasw{
    width: 400px;
    height: 400px;
}


@media screen and (max-width: 1100px){
    .ourdoctors{
        flex-direction: column;
    }
    .sideboxte{
        display: none;
    }
    .willia{
        margin-top: 30px;
    }
    .wot{
        flex-direction: column-reverse;
        margin-top: 50px;
    }
  }
  @media screen and (max-width: 500px){
    .ourdoctors{
        width: 90%;
        gap: 0;
    }
    .dr{
        margin-top: 50px;
        font-size: 35px;
    }
     .elori , .batsmasw{
        width: 350px;
        height: 350px;
    }
    .bio{
        font-size: 30px;
    }
    .moe{
      font-size: 45px;
    }
  }
  @media screen and (max-width: 400px){
    .elori , .batsmasw{
        width: 320px;
        height: 320px;
    }
    .dr{
        margin-top: 20px;
    }
    .fab{
        margin-right: 8px;
    }
    .lmv{
      font-size: 27px;
    }
  }
  /* --------------------------------------------------------------------------------------------------- */
  .gall{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 52px;
    text-align: center;
    padding-bottom: 40px;
    color: #415da1;
  }
  .galleryimagesdd{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
  }
.galleryimagesdd img{
  width: 600px;
  object-fit: contain;
  gap: 20px;
}
/* --------------------------------------- */
.appointmentsec{
    font-family: "Plus Jakarta Sans", sans-serif;
}
.baapmet{
    font-size: 36px;
}
.baapmet:hover{
    color: #415da1;
}
.diaaptmc{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: 30px;
}
@media screen and (max-width: 500px){
  .diaaptmc{
    margin-top: 10px;
    line-height: 25px;
  }
  .baapmet{
    font-size: 28px;
  }
}
/* ----------------------------------------------- */



.getstatedtoday{
    padding: 60px;
  }
  .thumok{
    width: 500px;
    height: 500px;
    object-fit: cover;
  }
  /* ----------------- */
  .getsectins{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    justify-content: center;
  }
  /* ===FORM= */
  .container {
    color: #212E21;
    max-width: 600px;
    width: 100%;
    padding: 0 60px 60px 30px  ;
    border-radius: 5px;
  }
  .container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  
  .container .title::before {
    content: "";
    position: absolute;
    height: 3.5px;
    width: 30px;
    background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
    left: 0;
    bottom: 0;
  }
  .input__box input{
    font-family: "Plus Jakarta Sans", sans-serif;
    margin-top: 10px;
    padding-left: 15px;
    font-size: 18px;
    border: 1px solid #212121;
    border-radius: 5px;
  }
  .emailplaceqwer{
    width: 100%;
    height: 45px;
    margin-bottom: 12px;
  }
  
  .container form .user__details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* inside the form user details */
  form .user__details .input__box {
    width: calc(100% / 2 - 10px);
    margin-bottom: 15px;
  }
  
  .user__details .input__box .details .selectopti {
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
  }
  .user__details .input__box input {
    font-family: "Plus Jakarta Sans", sans-serif;
    height: 45px;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    border: 1px solid #212121;
    border-radius: 5px;
  }
  .selectopti{
    font-family: "Plus Jakarta Sans", sans-serif;
    height: 45px;
    width: 100%;
    outline: none;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    margin-top: 10px;
    border: 1px solid #212121;
    margin: 10px 0;
    border-radius: 5px;
  }
  .selectopti option{
    color: #212121;
    
  }
  .user__details .input__box input:focus,
  .user__details .input__box input:valid {
    font-size: 18px;
    border: 1px solid #212121;
  }
  
  /* inside the form gender details */
  
  form .gender__details .gender__title {
    font-size: 20px;
    font-weight: 500;
  }
  
  form .gender__details .category {
    display: flex;
    width: 80%;
    margin: 15px 0;
    justify-content: space-between;
  }
  
  .gender__details .category label {
    display: flex;
    align-items: center;
  }
  
  .gender__details .category .dot {
    height: 18px;
    width: 18px;
    background: var(--sub-grey);
    border-radius: 50%;
    margin: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
  
  #dot-1:checked ~ .category .one,
  #dot-2:checked ~ .category .two,
  #dot-3:checked ~ .category .three {
    border-color: var(--sub-grey);
    background: var(--main-purple);
  }
  
  form input[type="radio"] {
    display: none;
  }
  
  /* submit button */
  form .button {
    height: 45px;
    margin: 45px 0;
  }
  
  form .button input {
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
    transition: all 0.3s ease;
  }
  
  form .button input:hover {
    background: linear-gradient(-135deg, var(--main-blue), var(--main-purple));
  }
  
  @media only screen and (max-width: 584px) {
    .container {
      max-width: 100%;
    }
  
    form .user__details .input__box {
      margin-bottom: 15px;
      width: 100%;
    }
  
    form .gender__details .category {
      width: 100%;
    }
  
    .container form .user__details {
      max-height: 300px;
    }
  
    .user__details::-webkit-scrollbar {
      width: 0;
    }
  }
  @media  screen and (max-width: 500px){
    .getstatedtoday{
      padding: 30px;
    }
    .container{
      padding: 0 20px;
    }
    .input__box textarea{
      width: 100%;
    }
    .getivbqn{
      margin-bottom: 30px;
    }
  }
  
  
  
  /* ==MEDIA QURIES */
 
  @media screen and (max-width: 1030px){
    .getsectins{
      margin-top: 40px;
    }
  }


  @media screen and (max-width: 1030px){
   .getsectins{
     flex-direction: column;
   }
   .container{
    padding-top: 0;
   }
  }
  @media screen and (max-width: 660px){
    .getstatedtoday{
      padding: 0;
    }
    .thumok{
        width: 450px;
        height: 450px;
        padding: 20px;
    }
   }
   @media screen and (max-width: 500px){
    .getstatedtoday{
      padding: 0;
    }
    .thumok{
        width:  400px;
        height: 400px;
        padding: 20px;
    }
   }
   @media screen and (max-width: 400px){
    .getstatedtoday{
      padding: 0;
    }
    .thumok{
        width: 350px;
        height: 350px;
        padding-right: 20px;
    }
   }
  
  
  /* -------------------- */
  option[value=""][disabled] {
    display: none;
  }
  .textsomeiie{
    font-family: "Plus Jakarta Sans", sans-serif;
    width: 100%;
    height: 120px;
    padding: 15px;
    margin: 15px 0;
    font-size: 18px;
    border: 1px solid #212121;
    border-radius: 5px;
  }
  .getivbqn{
    margin-top: 20px;
    font-weight: 500;
    padding: 15px 20px;
  }
 

  .potential{
    font-size: 20px;
    color: #212e21;
    font-weight: 500;
    width: 90%;
    line-height: 35px;
  }
  .details{
    color: #212e21;
    font-weight: 500;
  }
  /* --------------------------- */
  .contactme{
    display: flex;
    justify-content: space-between;
    padding: 60px;
    padding-bottom: 160px;
    background-color: #212121;
    color: #f3f2e7;
  }
  .nameandlink{
    width: 100%;
    text-align: center;
  }
  .profiname{
    margin-bottom: 5px;
  }
  .growthseo{
    font-weight: 400;
    margin-bottom: 20px;
  }
  .coet {
    cursor: pointer;
    font-size: 50px;
    width: 40px;
    height: 40px;
    background-color: #ebebeb;
    color: #212121;
    font-size: 30px;
    margin: 0 5px;
    border-radius: 100%;
    text-align: center;
    padding-top: 10px;
  }
  .Ausopp{
   font-size: 20px;
   line-height: 35px;
   font-style: italic;
  }
  
  @media screen and (max-width: 1025px){
    .contactme{
      flex-direction: column;
    }
    .Ausopp{
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 500px){
    .contactme{
      padding: 25px;
    }
  }
  /* -------------------------------- */
  .maps{
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    justify-content: center;
    padding:60px ;
  }
  .addressinout{
    margin-left: 50px;
    font-size: 22px;
    font-weight: 500;
  }
  .asdtrisd{
    font-size: 40px;
    color: #415da1;
    margin-bottom: 20px;
  }
  .adhnoem{
     align-items: center;
     justify-content: center;
  }
  .frame{
    width: 400px;
  }
  @media screen and (max-width: 900px){
      .maps{
        flex-direction: column;
      }
      .addressinout{
        margin-left: 0;
      }
      .asdtrisd{
        margin-top: 20px;
      }
  }
  @media screen and (max-width: 500px){
    .maps{
      padding: 30px;
    }
   .frame{
    width: 300px;
   }
   .addressinout{
    font-size: 18px;
   }
}










/* --------------- */
.footer{
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #e9f0ff;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;
    display: flex;
  }
  
  .footertext{
    color: #39394a;
    font-size: 18px;
    padding-bottom: 20px;
    width: 90%;
  }
  .footer-box{
    padding: 10px;
  }
  .footer-img{
    width: 40%;
  }
  .footer-img img{
    object-fit: contain;
    margin-bottom: 20px;
    width: 100px;
  }
  .foetfirsd{
    padding-left: 40px;
    width: 40%;
  }
  div.footericons{
    width: 40%;
    margin-right: 30px;
  }
  .foo-links{
    color: #415da1;
    margin-bottom: 20px;
  }
  .usefull-links li, .other-links li{
    margin: 10px 0;
  }
  .usefull-links li a, .other-links li a{
    color: #6b9832;
    font-size: 18px;
    font-weight: 500;
  }
  .usefull-links li a:hover , .other-links li a:hover{
    color: #ffb20b;
  }
  .fa-location-dot , .fa-phone, .fa-envelope {
    font-size: 30px;
    margin-right: 20px;
  }
  .getinto{
    font-size: 25px;
    color: #39394a;
    font-weight: 600;
    margin-bottom: 20px;
    margin-top: 100px;
  }
  .intoss{
    display: flex;
    margin-bottom: 20px;
  }
  .foogetin{
    margin-right:  80px;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  .innerlane{
    color: #171817;
    font-weight: 500;
  }
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
  .innercomy{
    color: #171817;
    font-weight: 500;
  }
 .infiocomapa{
    display: flex;
 }
 .address{
   width: 90%;
 }

  @media screen and (max-width: 1100px){
    .footertext{
     width: 95%; 
    }
    .foogetin{
        margin-right: 40px;
    }
    .butiosm{
        margin-right: 0;
    }
    .getinto{
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 1000px){
     .footer{
        flex-direction: column;
     }
     div.footericons{
        width: 100%;
     }
  }
  @media screen and (max-width: 450px){
    .footer{
        padding-left: 20px;
    }
     .foogetin{
        margin-right: 30px;
     }
     .footertext{
        width: 100%;
        line-height: 25px;
     }
     .footer-img img{
      margin-bottom: 10px;
     }
  }